body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
}

.container {
    margin-top: 50px;
    background: rgb(27, 27, 27);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.1em;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.ich-bin {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -100px;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 600px;
    align-content: center;
    align-items: center;
    z-index: 50;
}

.erwachsene {
    background-image: url('./images/menu-bg-achtung2.png');
}

.wall {
    position: absolute;
    background-image: url('./images/menu-bg-achtung1.png');
    min-width: 1131px;
    min-height: 700px;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    align-content: center;
    align-items: center;
    margin-left: -95px;
    margin-top: -90px;
    z-index: 44;
    pointer-events: none;
}

h3 {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 83px;
    padding-left: 283px;
    color: #ff9a01;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.translator {
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 3px;
    padding-left: 2px;
    z-index: 700;
    position: fixed;
}

.warnung {
    z-index: 600;
    position: absolute;
}

.jestem {
    background-image: url('./images/warnung0.png');
    /* background-image: url('./images/lochlanach.png'); */
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 351px;
    align-content: center;
    align-items: center;
    margin-left: 215px;
    margin-top: 58px;
    z-index: 10;
}

.daemon {
    position: absolute;
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 351px;
    align-content: center;
    align-items: center;
    margin-left: 123px;
    margin-top: 13px;
    z-index: 20;
}

.eyes {
    background-image: url('images/e.png');
    position: absolute;
    min-width: 34%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 249px;
    align-content: center;
    align-items: center;
    margin-left: 252px;
    margin-top: -371px;
    z-index: 24;
    transform-style: preserve-3d;
}

.jesteye {
    background-image: url('./images/warnung1.png');
    /* background-image: url('./images/lochlanach.png'); */
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 351px;
    align-content: center;
    align-items: center;
    margin-left: 215px;
    margin-top: -352px;
    z-index: 11;
    animation: fadeIn 1s forwards;
}

.selectedLv {
    height: 155px;
    width: 155px;
    position: relative;
    top: 46px;
    left: 48px;
    z-index: 55;
}

.btn-warning {
    margin-top: -44px;
    margin-left: -44px;
    position: absolute;
    font-size: 2em;
    animation: fadeIn 2s;
    z-index: 700;
}

.form-control {
    background-color: rgb(27, 21, 34);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fader {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#menu {
    background-image: url('./images/menu-bg2.png');
    height: 100px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    margin: 0;
}

#aber1 {
    width: 33%;
    margin-right: 130px;
    position: sticky;
}

#play-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('./images/Cluain\ Fada.png');
    width: 1062px;
    height: 892px;
    max-width: 892px;
    max-height: 1062px;
    background-repeat: no-repeat;
    border-radius: 17%;
    border: 10px solid #6d6d6d;
}

h2 {
    color: #181717;
    font-size: 5rem;
    display: block;
    text-align: center;
    padding-top: 200px;
    margin-right: 20px;
}

.input-group {
    margin-left: 280px;
    align-items: center;
    width: 30%;
    animation: fadeIn 2s;
    margin-top: 100px;
    margin-left: 343px;
    z-index: 70;
}

.hidden {
    display: none;
}

h3:hover {
    cursor: zoom-in;
}

.du-bist {
    background-image: url('./images/menu-bg1.png');
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -100px;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 2;
    min-height: 600px;
    align-content: center;
    align-items: center;
}

.fog {
    position: absolute;
    background-image: url('./images/fog.png');
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -100px;
    grid-column-start: 2;
    grid-column-end: 3;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 600px;
    align-content: center;
    align-items: center;
    pointer-events: none;
    animation: slide 40s linear infinite;
}

.links {
    position: relative;
    top: -96px;
    left: -101px;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate3d(400px, 0, 0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(00px, 0, 0);
    }
}

#eye1 {
    background-image: url('./images/a3.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 41px;
    left: 172px;
    transform: translateZ(20px);
}

#eye8 {
    background-image: url('./images/a2.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 97px;
    left: 51px;
    transform: translateZ(20px);
}

#eye7 {
    background-image: url('./images/a1.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 199px;
    left: 39px;
    transform: translateZ(20px);
}

#eye6 {
    background-image: url('./images/a3.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 290px;
    left: 92px;
    transform: translateZ(20px);
}

#eye5 {
    background-image: url('./images/a2.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 320px;
    left: 185px;
    transform: translateZ(20px);
}

#eye4 {
    background-image: url('./images/a1.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 292px;
    left: 275px;
    transform: translateZ(20px);
}

#eye3 {
    background-image: url('./images/a3.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 194px;
    left: 318px;
    transform: translateZ(20px);
}

#eye2 {
    background-image: url('./images/a2.png');
    height: 95px;
    width: 95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 87px;
    left: 290px;
    transform: translateZ(20px);
}

.levelDescription {
    width: 100%;
    text-align: center;
    position: fixed;
    color: rgb(184, 168, 168);
    margin: 5px;
    text-align: center;
    font-size: 3em;
    transition: all 0.4s ease;
    font-family: 'Amatic SC';
    
    z-index: 55;
}