body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.ich-bin {
    background-image: url('./images/menu-bg1.png');
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 600px;
    align-content: center;
    align-items: center;
}

.jestem {
    background-image: url('./images/warnung0.png');
    /* background-image: url('./images/lochlanach.png'); */
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 351px;
    align-content: center;
    align-items: center;
    margin-left: 215px;
    margin-top: 58px;

   
}

.jesteye{
    background-image: url('./images/warnung1.png');
    /* background-image: url('./images/lochlanach.png'); */
    max-width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: last;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    min-height: 351px;
    align-content: center;
    align-items: center;
    margin-left: 215px;
    margin-top: -352px;

    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 .fader{
     animation:fadeOut 1s forwards;
 }

 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 } 

.erwachsene {
    background-image: url('./images/menu-bg-achtung1.png');
}

#menu {
    background-image: url('./images/menu-bg2.png');
    height: 100px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    margin: 0;
}

.container {
    margin-top:100px;
    background: #000000;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.1em;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.jestem1 {}

#aber1 {
    width: 33%;
    margin-right: 130px;
    position: sticky;
}

.form-control {
    background-color: rgb(27, 21, 34);
}

#play-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('./images/Cluain\ Fada.png');
    width: 1062px;
    height: 892px;
    max-width: 892px;
    max-height: 1062px;
    background-repeat: no-repeat;
    border-radius: 17%;
    border: 10px solid #6d6d6d;
}

/* 
.app-img {
    grid-column-start:2;
    grid-column-end:3;
    
    grid-row-start: 1;
    grid-row-end:2;     
    background-image: url('./images/menu-bg1.png');
     width: 600px;
     height: 438px;
     max-width:850px;
     max-height:488px;
     background-repeat:no-repeat;
     
 } */

/* .app-img2 {
    grid-column-start:2;
    grid-column-end:3;
    
    grid-row-start: 2;
    grid-row-end:3;
     background-image: url('./images/app_2.png');
     width: 295px;
     height: 488px;
     max-width:295px;
     max-height:488px;
     background-repeat:no-repeat;
     
 } */

/* 

} */

.main-header {}

.blog-post {}

h2 {
    color: #181717;
    font-size: 5rem;
    display: block;
    text-align: center;
    padding-top: 200px;
    margin-right: 20px;
}

.input-group {
    margin-left: 280px;
    align-items: center;
    width: 30%;
    animation:fadeIn 2s;
    margin-top:100px;
}

.hidden {
    display: none;
}

h3 {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 83px;
    padding-left:283px;
    color: #ff9a01;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}
.translator{
    color: #272014;
    padding-top: 3px;
    padding-left:442px;
    z-index:700;
    position:absolute;
}
.warnung {
    z-index:600;
    position: absolute;
}
.btn-warning{
   
    font-size:2em;
   animation:fadeIn 2s;
  }

h3:hover {
    cursor: zoom-in;
}

/* 
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #08b308;
    -webkit-animation: spin 2s linear infinite;
    /*Chrome, opera 15+, safari 5+*/

/* animation: spin 2s linear infinite;
    Chrome, firefox 16+, ie10+,  Opera
    z-index:1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #002700;
    -webkit-animation: spin 3s linear infinite;
    /*Chrome, opera 15+, safari 5+
    animation: spin 3s linear infinite;
    /*Chrome, firefox 16+, ie10+,  Opera
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #024b00;
    -webkit-animation: spin 1.5s linear infinite;
    /*Chrome, opera 15+, safari 5+
    animation: spin 1.5s linear infinite;
    /*Chrome, firefox 16+, ie10+,  Opera
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /*Chrome, Opera 15+, Safari 3.1+
        -ms-transform: rotate(0deg);
        /*IE 9
        transform: rotate(0deg);
        /*Firefox 16+, IE 10+, Opera
    }
    100% {
        -webkit-transform: rotate(360deg);
        /*Chrome, Opera 15+, Safari 3.1+
        -ms-transform: rotate(360deg);
        /*IE 9
        transform: rotate(360deg);
        /*Firefox 16+, IE 10+, Opera
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /*Chrome, Opera 15+, Safari 3.1+
        -ms-transform: rotate(0deg);
        /*IE 9
        transform: rotate(0deg);
        /*Firefox 16+, IE 10+, Opera
    }
    100% {
        -webkit-transform: rotate(360deg);
        /*Chrome, Opera 15+, Safari 3.1+
        -ms-transform: rotate(360deg);
        /*IE 9
        transform: rotate(360deg);
        /*Firefox 16+, IE 10+, Opera
    }
} 


#loader-wrapper .loader-section{
    position:fixed;
    top:0;
    width: 51%;
    height:100%;
    background: #222;
    z-index:1000;
    }

    #loader-wrapper .loader-section.section-left{
        left:0;
        background-color:rgb(0, 0, 0);
    }

    #loader-wrapper .loader-section.section-right{
        right:0;
        background-color:rgb(0, 0, 0);
    } */

/* .nordschwein-logo{
        background-image: url('./images/Comp-1_3.gif');

        display: fixed;
        top:50px;
        left:50px;
        height: 237px;
        width:497px;
        z-index: 200; } */

/* Loaded styles
.loaded #loader-wrapper .loader-section.section-left{
-webkit-transform: translateX(-100%);
-ms-transform: translateX(-100%);
transform:(-100%);
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform:(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader{
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper{
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform:translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
    }

   */